<h4>Agregar personaje</h4>
<form action="#" class="row" (ngSubmit)="emitCharacter()">
  <!-- Asociar un evento y un atributo (usando el metodo de la caja de las bananas "[()]") tambien conocido como 2 way data binding-->
  <!-- Recuerda importar el modulo de FormsModule en dbz.module.ts -->
  <!-- tambien recuerda asignarle un NAME a casa etiqueta -->
  <input type="text"
  [(ngModel)]="character.name"
  class="form-control mb-2"
  placeholder="nombre"
  name="name"
  >
  <input type="number"
  [(ngModel)]="character.power"
  class="form-control mb-2"
  placeholder="poder"
  name="power"
  >

  <button type="submit" class="btn btn-primary" >Agregar</button>

  <!-- <pre> {{ character | json }} </pre> -->

</form>
